<template>
    <button class="custom-button" @click="redirectToPage">
      <slot></slot>
    </button>
  </template>

<script>
import {useRouter} from 'vue-router/composables'

export default {
  props: {
    page: {
      type: String,
      required: true
    }
  },
  methods: {
    redirectToPage () {
      const router = useRouter()
      router.push(this.page)
    }
  }

}
</script>

  <style scoped>
  .custom-button {
    background-color: #da6e3f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }

  .custom-button:hover {
    background-color: #d9d9d9;
  }
  </style>
