  <template>
    <div class="container">
      <div class="cards">
        <div class="card">
          <img :src="data.image" alt="">
          <div class="card-content">
            <h1>{{ data.nom_destination }}</h1>
          </div>
        </div>
      </div>
    </div>
  </template>

<script>

export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  }
}

</script>

  <style scoped>
  .container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 0%;
    background-color: #ffffff;
    padding: 0 20px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .card {
    width: 70rem;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #ffffff;
    -webkit-box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  }

  .card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-out;
  }

  .card h1 {
    position: absolute;
    inset: auto auto 40px 40px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: #da6e3f;
    border-radius: 15px;
    padding: 0.5rem 1rem;

  }

  .card p,
  .card a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }

  .card p {
    inset: auto auto 80px 30px;
  }

  .card a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }

  .material-symbols-outlined {
    vertical-align: middle;
  }

  @media (max-width: 768px) {
    .card-section {
      height: auto;
    }

    .cards {
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    .card {
      width: 18rem;
      height: 20rem;
    }
  }
  </style>
