<template>

  <div class="cards">
    <div class="card">
      <img :src="data.image" alt="">
      <div class="card-content">
        <h2>{{ data.nom_destination }}</h2>
       <p>{{ truncateDescription(data.description, 100) }}</p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  methods: {
    truncateDescription (description, maxLength) {
      if (description.length <= maxLength) {
        return description
      }
      return description.substring(0, maxLength) + '...'
    }
  }
}

</script>

<style scoped>

.cards{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top:4rem ;
  justify-content: space-between;

}
.card {
  width: 21rem;
  height: 26rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #f0f0f0;
  -webkit-box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease-out;
}
.card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;;
}
.card p, .card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
.card p {
  inset: auto auto 80px 40px;
  color: #666;
  padding: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}
.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}
.card:hover p, .card:hover a {
  opacity: 0.6;
  transition: opacity 0.5s 0.1s ease-in;
}
.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
.material-symbols-outlined {
  vertical-align: middle;
}
@media (max-width: 768px) {
  .card-section {
    height: auto;
  }
   .cards{
     align-items: center;
      flex-direction: column;
      gap: 2rem;
    }
  .card {
    width: 18rem;
    height: 20rem;
  }
}
</style>
