<script>
export default {
  data () {
    return {
      searchTerm: ''
    }
  },
  computed: {
    filteredDestinations () {
      console.log('dest:', this.destinations)
      return this.destinations.filter(destination => {
        return destination.nom_destination.toLowerCase().includes(this.searchTerm.toLowerCase())
      })
    }
  }
}

</script>
  <template>
    <div class="wrapper">
      <div id="search-container">
        <input type="search" v-model="searchTerm" id="search-input" placeholder="Search element">
      </div>
      <div class="filter-elements">
        <select id="continent" name="continent">
          <option value="europe">Europe</option>
          <option value="asie">Asie</option>
          <option value="afrique">Afrique</option>
          <option value="amérique">Amérique</option>
        </select>
        <select id="climat" name="climat">

          <option value="froid">Froid</option>
          <option value="tempéré">Tempéré</option>
          <option value="continental">Continental</option>
          <option value="tropical">Tropical</option>
          <option value="désertique">Désertique</option>
        </select>
        <div id="buttons">
          <button class="button-value">All</button>
          <button class="button-value">Asc</button>
          <button class="button-value">Desc</button>
        </div>
      </div>
    </div>
  </template>

  <style scoped>
  *{
    box-sizing: border-box;
    outline: none;
    border: none;
  }
  .wrapper{
    padding-top: 2em;
    align-items: center;
    gap: 3rem;
    justify-content: space-around;
    display: flex;
    width:95%;
    margin: 0 auto;
  }

  #search-container{
    margin: 1em 0;
  }

  #search-container input{
    width: 20vw;
    padding: 1em 0.3em;
    border-bottom: 2px solid #ccc;
    font-size: 1em;
    background: transparent;
  }

  #search-container input:focus{
    border-bottom-color: #1d2635;
  }

  #search-container button{
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #1d2635;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5em;
  }

  select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 8vw;
  }
  .filter-elements{
    display: flex;
    gap: 3em;
  }

  .filter-elements #buttons{
    display: flex;
    gap: 2rem;
  }

  .button-value{
    border:2px solid #1d2635;
    padding: 1em 2.2em;
    border-radius:3em;
    background: transparent;
    color: #1d2635;
    cursor: pointer;
  }

  .active{
    background-color: #1d2635;
    color: #ffffff;
  }
  </style>
