<template>
    <nav class="navbar">
      <div class="navbar__logo">
        <img class="navbar__logo-image" src="@/assets/image/logo.png" alt="Logo" />
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <router-link class="navbar__link" :to="{ name: 'Accueil' }">Accueil</router-link>
        </li>
        <li class="navbar__item">
          <router-link class="navbar__link" :to="{ name: 'Destination' }">Destination</router-link>
        </li>
        <li class="navbar__item">
          <router-link class="navbar__link" :to="{ name: 'Activite' }">Activité</router-link>
        </li>
        <li class="navbar__item">
          <router-link class="navbar__link" :to="{ name: 'Contact' }">Contact</router-link>
        </li>
      </ul>
    </nav>
  </template>

<script>
export default {
  // ...
}
</script>

  <style scoped>
  .navbar {
    z-index: 1000;
    background-color: #1d2635;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 1rem;
    left: 0;
    right: 0;
  }

  .navbar__logo {
    display: flex;
    align-items: center;
  }

  .navbar__logo-image {
    width: 200px;
    height: 60px;
  }

  .navbar__menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  .navbar__item {
    margin-right: 1rem;
  }

  .navbar__link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  }

  .navbar__link:hover {
    color: #da6e3f;
  }
  </style>
