<template>
    <div class="container">
      <div class="illustration">
        <img src="../assets/image/illustration.png" alt="">
        </div>
        <div class="text">
            <h1>{{ data.nom_destination }}</h1>
            <p>{{ data.description }}</p>
        </div>
    </div>
</template>

<script>

export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  }
}

</script>

<style scoped>

.container {
    display: flex;
    box-shadow: 0 0 15px -2px rgba(87,87,87,.44);
    border-radius: 20px;
    padding: 1.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 1100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.illustration {
    width: 65%;
    height: auto;
    text-align: center;
    margin-right: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.illustration img{
    width: 100%;
    height: auto;
}
.text {
    width: 65%;
    text-align: left;
    margin-left: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: #da6e3f;
}

.text p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #1d2635;
}

</style>
