<template>
  <div>
    <NavbarComponent />
    <section class="presentation">
      <div class="presentation__content">
        <div class="presentation__text">
          <h1 class="presentation__title">It's time to explore the world !</h1>
          <p class="presentation__description">
            Bienvenue dans notre agence de voyage ! Préparez-vous à vivre des aventures extraordinaires et à créer des souvenirs inoubliables. Notre agence est là pour vous offrir des expériences uniques, conçues sur mesure selon vos envies et vos rêves.
          </p>
          <button class="presentation__button">Explore </button>
        </div>
        <div class="presentation__image">
          <img src="@/assets/image/homePresentation.png" alt="Illustration" />
        </div>
      </div>
    </section>
      <div class="destination">
        <div class="card-title">
          <h2>Top destinations</h2>
          <router-link to="/destination" class="destination__link">Toutes les destinations</router-link>
        </div>
        <div class="destination-cards">
          <CardsDetails v-for="destination in destinations" :key="destination.id" :data="destination"></CardsDetails>
        </div>
        </div>
    <FooterComponent />
  </div>
</template>

<script>
import NavbarComponent from '@/components/NavbarComponent'
import CardsDetails from '@/components/CardsDetails.vue'
import FooterComponent from '@/components/FooterComponent.vue'
import BoutonComponent from '@/components/BoutonComponent.vue'

export default {
  components: {
    CardsDetails,
    NavbarComponent,
    FooterComponent,
    BoutonComponent
  },

  data () {
    return {
      destinations: []
    }
  },
  mounted () {
    this.fetchDestinations()
  },
  methods: {
    fetchDestinations () {
      fetch('http://localhost:5000/destination/trier_par_nom')
        .then(response => response.json())
        .then(data => {
          this.destinations = data.slice(0, 3)
          // this.destinations = data
          console.log('Destinations :', this.destinations)
        })
        .catch(error => {
          console.error('Erreur lors de la récupération des destinations :', error)
        })
    }
  }
}

</script>

<style>
.destination{
  background-color: #ffffff;
  padding: 5rem 0;
}
.destination-cards{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.presentation {
  background-color: #ffffff;
  padding: 5rem 0;
}

.presentation__content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.presentation__text {
  flex: 1;
  font-size: 1.2rem;
  text-align: left;
  padding-right: 2rem;
  text-align: justify;
}

.presentation__image {
  flex: 1;
  text-align: right;
}

.presentation__image img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

.presentation__title {
  color: #1d2635;
  font-size: 2.7rem;
  padding-bottom: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.presentation__button{
  margin-top: 2rem;
  background-color: #1d2635;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.destination__link{
  color: #da6e3f;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .presentation__content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-direction: column;
  }

  .presentation__text {
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .presentation__image {
    text-align: center;
  }
  .destination-cards {
    flex-direction: column;
    align-items: center;
  }
}
</style>
