<template>
  <div>
  <section class="activite-sections">
    <NavbarComponent></NavbarComponent>
    <h1>Découvrez des horizons infinis : explorez le monde et créez des souvenirs inoubliables avec nos voyages extraordinaires.</h1>
    <div class="cards-section">
      <div v-for="activite in activites" :key="activite.id">
        <CardsActivite :data="activite"></CardsActivite>
      </div>
    </div>
  </section>
  <FooterComponent></FooterComponent>
  </div>
</template>

<script>
import FilterBar from '../components/FilterBar.vue'
import CardsActivite from '../components/CardsActivite.vue'
import NavbarComponent from '../components/NavbarComponent.vue'
import FooterComponent from '../components/FooterComponent.vue'

export default {
  components: { FilterBar, NavbarComponent, CardsActivite, FooterComponent },
  data () {
    return {
      activites: []
    }
  },
  mounted () {
    this.fetchActivites()
  },
  methods: {
    fetchActivites () {
      fetch('http://127.0.0.1:5000/activites')
        .then((response) => response.json())
        .then((data) => {
          this.activites = data
          console.log('Activite:', this.activites)
        })
        .catch((error) => {
          console.error('Erreur lors de la récupération des activités:', error)
        })
    }
  }
}
</script>

<style>

h1{
  text-align: justify;
  font-size: 1.8em;
}

.activite-sections{
  /*height: 80vh;*/
  padding-top: 4em;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.cards-section{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap:1.5em;
  padding: 2em 0;
}

</style>
