<template>
  <div>
    <section class="destination-sections">
      <NavbarComponent></NavbarComponent>
      <h1>Découvrez des horizons infinis : explorez le monde et créez des souvenirs inoubliables avec nos voyages extraordinaires.</h1>
      <FilterBar></FilterBar>
      <div class="cards-section">
        <router-link v-for="destination in destinations" :key="destination.id" :to="'/destination/' + destination.id_destination">
          <CardsDetails :data="destination"></CardsDetails>
        </router-link>
      </div>
    </section>
    <FooterComponent></FooterComponent>
  </div>
</template>
<script>

import NavbarComponent from '../components/NavbarComponent.vue'
import CardsDetails from '../components/CardsDetails.vue'
import FilterBar from '../components/FilterBar.vue'
import FooterComponent from '../components/FooterComponent.vue'

export default{

  components: {FilterBar, NavbarComponent, CardsDetails, FooterComponent},

  data () {
    return {
      destinations: []
    }
  },
  mounted () {
    this.fetchDestinations()
  },
  methods: {
    fetchDestinations () {
      fetch('http://localhost:5000/destination/trier_par_nom')
        .then((response) => response.json())
        .then((data) => {
          this.destinations = data
          console.log('Destinations:', this.destinations)
        })
        .catch((error) => {
          console.error('Erreur lors de la récupération des destinations:', error)
        })
    }
  }
}
</script>

<style>

h1{
  text-align: justify;
  font-size: 1.8em;
}

.destination-sections{
  /*height: 80vh;*/
  padding-top: 4em;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.cards-section{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap:1.5em;
  padding: 2em 0;
}

</style>
