<template>
  <section class="activite-container">
    <NavbarComponent></NavbarComponent>
    <div class="destination-details">
      <h1>Destination détails</h1>
    </div>
    <CardDestination :data="destination"></CardDestination>
    <div class="activite-details">
      <h1>Activités</h1>
      <ul>
        <li v-for="activite in activites" :key="activite.id">
          {{ activite.nom_activite }}
        </li>
      </ul>
    </div>
    <TextComponent :data="destination"></TextComponent>

    <FooterComponent></FooterComponent>
  </section>
</template>

<script>
import CardDestination from '../components/CardDestination.vue'
import FooterComponent from '../components/FooterComponent.vue'
import NavbarComponent from '../components/NavbarComponent.vue'
import TextComponent from '../components/TextComponent.vue'
import CardsActivite from '../components/CardsActivite.vue'

export default {
  components: {
    CardDestination,
    NavbarComponent,
    FooterComponent,
    TextComponent,
    CardsActivite
  },
  data () {
    return {
      destination: {},
      activites: []
    }
  },
  mounted () {
    this.fetchDestination()
    this.fetchActivites()
  },

  methods: {
    fetchDestination () {
      console.log('fetchDestination')
      fetch('http://localhost:5000/destination/' + this.$route.params.id)
        .then(response => {
          if (!response.ok) {
            throw new Error('Erreur lors de la récupération de la destination')
          }
          return response.json()
        })
        .then(data => {
          this.destination = data
          console.log('Destination:', this.destination)
        })
        .catch(error => {
          console.log(error)
          console.error('Erreur lors de la récupération de la destination:', error)
        })
    },
    fetchActivites () {
      console.log('fetchActivites')
      fetch('http://localhost:5000/activites/' + this.$route.params.id)
        .then(response => {
          if (!response.ok) {
            throw new Error('Erreur lors de la récupération des activités')
          }
          return response.json()
        })
        .then(data => {
          this.activites = data
          console.log('Activites:', this.activites)
        })
        .catch(error => {
          console.log(error)
          console.error('Erreur lors de la récupération des activités:', error)
        })
    }
  }
}
</script>

<style scoped>
.activite-details {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 1.8em;
}

.activite-details ul {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
</style>
